<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color: orangered;
    }
    </style>
<body>
<div class="container" align="center">
<pre>successfully login!!!</pre>
<p>welcome !!!</p>
    <p><h2> Admin!!!</h2></p>
<div class ="container">
    <ul>
        <pre><li><a href="/trlist">list of teachers registered</a></li></pre>
        <pre><li><a href="/sslist">list of students registered</a></li></pre>
    </ul>
</div>
</div>
</body>
</html>