<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>List of teacher registered</h2>

<table style="`width: 100%"border="2">
    <th>id</th>
    <th>name</th>
    <th>branch</th>
    <th>email</th>
    <th>status</th>
    <th>accept</th>
    <th>reject</th>
{% for i in data %}
    <tr><td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[5] }}</td>
        <td><a href="/upd?id={{ i[0] }}">Accept</a></td>
        <td><a href="/upd">Reject</a></td>
    </tr>
    {% endfor %}
</table>
</div>



</body>
</html>