<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="content-wrapper col-md-9 col-sm-8" style="width:50%;">
                            <div class="page-row">
							<h1><b> ITM Group of Institute : VISION, MISSION and VALUES </b></h1><br>
                                <h2 class="no-margin-top has-divider text-highlight">Vision</h2>
                                <p class="leade">To develop the institute into a centre of excellence in education, research, training and consultancy to the extent that it becomes a significant player in the technical and overall development of the country.</p>
                            </div><!--//page-row-->
                            <div class="page-row">
                                <h2 class="no-margin-top has-divider text-highlight">Mission</h2>
                                <p class="leade">
                                    <ul>
                                        <li>To meet the global need of competent and dedicated professionals.</li>
                                        <li>To undertake R & D, Consultancy & extension activities which are of relevance to the needs of the mankind.</li>
                                        <li>To serve the community by interaction on technical and other aspects of development.</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="page-row">
                                <h2 class="no-margin-top has-divider text-highlight">Values</h2>
                                <p class="leade">
                                    <ul>
                                        <li>Humanity and ethics blended with sincerity, integrity and accountability.</li>
                                        <li>Productive delivery supported by healthy competition.</li>
                                        <li>Efficiency and dynamism coupled with sensitivity.</li>
                                        <li>To nurture innovation and ability to think differently with rational creativity.</li>
                                        <li>Appreciation of sustainable socio-cultural values and to feel proud to be a good professional contributing to the betterment of mankind and mother earth.</li>
                                    </ul>
                                </p>
                            </div>
</body>
</html>